{
	auto_https off
	admin off
}

:80 {
	root * /srv
	encode zstd gzip

	header -Server
	header X-Shitpost "1000000x"

	handle /api/* {
		reverse_proxy api:3000
	}

	handle {
		@hashed path /_next/static/*
		header @hashed Cache-Control "public, max-age=31536000, immutable"
		@png path /icon /apple-icon /opengraph-image
		header @png Content-Type image/png

		try_files {path} {path}/ {path}.html
		file_server
	}

	handle_errors {
		rewrite * /404.html
		file_server
	}
}
